div.city-col {
  padding-top: 25px;
}

h2.city {
  color: #e85b48;
  font-size: 33px;
  font-weight: 300;
  margin-bottom: 0;
  text-align: left;
}

h5.date-time {
  font-size: 21px;
  font-weight: 300;
  text-align: left;
}
